+CXD56_CISIF=y
+CXD56_DMAC_SPI5_RX=y
+CXD56_DMAC_SPI5_TX=y
+CXD56_I2C2=y
+DRIVERS_VIDEO=y
+EXAMPLES_USB_CAMERA=y
+VIDEO_ISX012=y
+VIDEO_ISX019=y
+VIDEO_STREAM=y
+CDCACM_TXBUFSIZE=16384
+CDCACM_NWRREQS=16
+CDCACM_NRDREQS=4
+CDCACM_BULKIN_REQLEN=512
